<!-- https://www.youtube.com/watch?v=uFADiMcJnuM&list=PLhzRPVQgdM8WKFb-2cQfquUnRWdu8qD3m&index=2 -->
<!-- demo of how to select pre defined value using reactive form -->
<label>Pick your color</label>
<select [formControl]="selectedItem">

  <!-- case 1 - with value attribute -->
  <!-- <option value="1">Item 1</option>
  <option value="2">Item 2</option>
  <option value="3">Item 3</option> -->

  <!-- case 2 - without value attribute -->
  <!-- <option>Item 1</option>
  <option>Item 2</option>
  <option>Item 3</option> -->

  <!-- case 3 - with ngFor -->
  <!-- <option [ngValue]="null">Select</option>
  <option *ngFor="let item of items" [ngValue]="item">{{item}}</option> -->

  <!-- case 4 -->
  <option [ngValue]="null">Select</option>
  <option *ngFor="let item of items" [ngValue]="item">{{item.value}}</option>
</select>

<pre>
  {{selectedItem.value | json}}
</pre>