<!-- notes -->
<!-- 
    we can create observable streams of many types
        - we can create it with user input(button click event)
        - can be created with http requests
        - array
        - object

    observable handles means (subscribe) - 
        - data
        - error
        - completion

        // syntax, this is how observables are handled
        .subscribe(
            (data) => console.log(data),
            (error) => console.log(error),
            () => console.log('complete'),
        )

-->


<router-outlet></router-outlet>
