<div class="my-3">
    <h2>Concat</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Source - 01 | Tech List(5)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech Videos List : </strong>1,2,3,4,5
            </p>
        </div>
        <!--  -->
        <div class="col-md-4">
            <strong>Source - 02 | Tech News(3)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech News List : </strong>1,2,3
            </p>
        </div>
        <!--  -->
        <div class="col-md-4">
            <strong>Source - 03 | Tech Gadgets(4)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Gadgets List : </strong>1,2,3,4
            </p>
        </div>
    </div>

    <hr>


    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Your Subscriber
                </div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>