<!-- 1 & 2 are same-->
<!-- <app-select-menu-demo></app-select-menu-demo> -->

<!-- 3 -->
<!-- <app-display-form-error-messages></app-display-form-error-messages> -->

<!-- 4 -->
<!-- <app-async-validator-form></app-async-validator-form> -->

<!-- 5 -->
<!-- <app-custom-validator-demo></app-custom-validator-demo> -->

<!-- 6 -->
<!-- <app-formarray-demo></app-formarray-demo> -->

<!-- 7 -->
<!-- <app-dynamic-validator-demo></app-dynamic-validator-demo> -->

<!-- 8 -->
<!-- <app-split-reactive-form-to-child-c-demo></app-split-reactive-form-to-child-c-demo> -->

<!-- 9 & 10-->
<app-dynamic-reactive-forms-demo></app-dynamic-reactive-forms-demo>