<div class="iphone-x">
    <i>Speaker</i>
    <b>Camera</b>
    <s>10:24</s>

    <span>Left action button</span>
    <span>Right action button</span>
</div>

<div class="notification" id="elContainer">
    <!-- <div class="item">
        <div class="header">
            <div class="app">
                Facebook
            </div>
            <div class="time">4 second ago.</div>
        </div>
        <div class="body">
            <strong>hello world</strong>
            <p>commented on your post</p>
        </div>
    </div> -->
   <!--  -->
</div>