<h3>Select User</h3>

<div class="nav-bar">
    <button class="btn" (click)="grantUserPermission(user, i)" *ngFor="let user of users; index as i">{{user}}
    </button>
</div>

<br><br>

<h3>Permissions</h3>
<div *ngIf="showPermission">
    <p *appPermissions="'read'">Read Permission</p>
    <p *appPermissions="'write'">Write Permission</p>
    <p *appPermissions="'remove'">Remove Permission</p>
    <p *appPermissions="multiplePermissions">Multiple Permissions defined for Super Admin</p>
</div>

<br><br>

<h1>Hello {{name}}</h1>
<p appHighlight [defaultColor]="'Yellow'" [highlightedColor]="'Red'">
    This is the paragraph highlighted using HighlightDirective.
</p>

<br><br>

<table>
    <tr>
       <td>
         <label>Please enter your password :-</label>
       </td>
       <td>
         <input type="text" appPasswordLength />
       </td>
    </tr>
</table>