<div class="my-3">

    <h2>ExhaustMap</h2>
    <br>
    <hr>
    <h2>Save Data</h2>
    <hr>

<!-- add video input -->
<div class="row">
    <div class="col-md-5 mr-auto">
        <div class="justify-content-center">
            <div class="col-md-12">
                <button class="btn btn-success" #btn>Save Data</button> &nbsp;
            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-md-5">
        <div *ngIf="" class="text-center">
            <div class="spinner-border text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div> Saving...
        </div>
        <!--  -->
        <ul class="video-list">
            <li><strong>Save Request: {{saveRequest}}</strong></li>
        </ul>
    </div>
</div>


</div>